.course-container {
  padding: 40px;
  text-align: center;
  background-color: #946925; /* light orange */
  height: 567px; /* approx 20cm */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.course-title {
  font-size: 2.5rem;
  color: #b7410e;
}

.course-description {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
}
